
.home{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.welcome-message{
  margin-top: 100px;
  font-size: 40px;
  width: 750px;
  color: #212a2f
}

.view-portfolio{
  border: 2px solid #212a2f;
  background-color: #212a2f;
  color: whitesmoke;
  padding: 10px;
  width: 250px;
  display: flex;
  justify-content: center;
}

.view-portfolio:hover{
background-color: whitesmoke;
color: #212a2f;
transform:scale(1.05)


}

.chandler{
  display: inline;
  color: #212a2f;
}