@import url("https://fonts.googleapis.com/css?family=Kalam&display=swap");

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: white;
  z-index: 1;
  top: 0;
  left: 0;

background-color: #111E26
}

.nav {
  display: flex;
   width: 100%;
}

.logo {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  flex: 1;
  transition: 250ms all;
}

.logo:hover {
  transform: scale(1.004);
}

.nav-link {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

.nav-link a:hover {
  border-bottom: 3px solid red;
}

.nav-link a.active {
  border-bottom: 3px solid red;
}



a {
  text-decoration: none;
}

.company-logo {
  width: 100px;
  height: 100px;
  margin-left: 30px;
}

button{
  border-radius: 50%;
  height:40px;
}

@media (max-width: 500px) {
  nav {
    width: 98%;
  }
}
