@import url("https://fonts.googleapis.com/css?family=Kalam&display=swap");

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* background-image: linear-gradient(rgb(80, 112, 172), rgb(22, 57, 173)); */
  color: white;
  z-index: 1;
  top: 0;
  left: 0;
}

.nav {
  display: flex;
  padding: 20px 0;
  margin-left: -2px;
  margin-right: -2px;
  margin-top: -2px;
  box-shadow: 1px 1px 1px 0.3px #cecece;
  width: 100%;
}

.logo {
  /* color: white; */
  font-family: "Kalam", cursive;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: -3px;
  flex: 1;
  transition: 250ms all;
}

.logo:hover {
  transform: scale(1.004);
}

.nav-link {
  /* flex: 2; */
  /* max-width: 30vw; */
  align-items: center;
  font-size: 40px;
  display: flex;
  justify-content: space-around;
  margin-right: 20px;
}


a {
  text-decoration: none;
  /* font-size: 20px; */
}

.company-logo {
  width: 100px;
  height: 100px;
  margin-left: 30px;
}

button{
  border-radius: 50%;
  height:40px;
}

@media (max-width: 500px) {
  nav {
    width: 98%;
  }
}
