.project-details-name {
  color: #212a2f;
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 48px;
  margin-bottom: 30px;
}

.show-image {
  display: flex;
  justify-content: center;
  opacity: 0.8;
}

.show-image:hover {
  opacity: 1;
}
