.project-details-name {
  color: whitesmoke;
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 48px;
  margin-bottom: 30px;
}

.show-image{

  display: flex;
  justify-content: center; 
opacity: .8;
}

.show-image:hover{
  opacity: 1;
}

